@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {   /*here this is changing al the ul inside nav*/
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: rgb(235, 235, 235);
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {  /*this is so when we hover over our navigation we get a background color*/
    background-color: rgba(255, 255, 255, .3);
}

.main-header {
    background-color: rgba(0,0,0,.2);
    background-image: url(images/background.jpeg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.artist-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: Bebas Neue;
    font-weight: normal;
}

.artist-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;  /*this is so that even if we get a bigger screen to see our website the text will stop at 900px*/
    margin: 0 auto;
    padding: 0 1.5em;  /*the first number is for top and bottom and the second number is for left and right*/

}

.section-header {
    font-family: Bebas Neue;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-artist-image {
    float: left;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #00303f;
    color: white;
    padding: .25em 0;

}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
} 

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255,255,255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child { /*this is for the last row so that we can get rid of the bottom line only on the last row*/
    border-bottom: none;
}

.tour-item {
    display: inline-block; /*without using this an inline element can not have a width but now it can*/
    padding-right: .5em;
}

.tour-date {
    color: #555;
    font-weight: bold;
    width: 11%;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%; /*here we used max width so that the button does not become wider if we emphasis our page*/
    /*the percentage of all the widhts adds up to 96% and that is because inline-block adds a little width so we need to account for that*/
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block; /*so that it is on its own line*/
    width: 100%;
    text-align:center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center; /*those first 2 lines are so that vertically the price and add to cart are in the middle centered*/
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap; /*this is so that if the picture doesn't fit on the same line put it on next line*/
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 1.5em;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;  /*top left bottom right*/
    font-size: 1.75em;
}

